In [1]:
import numpy as np
import pandas as pd
from fake_data_generator import fake_data
from model import create_model, top_five_with_gpa, calculate_school_estimates

In [2]:
df = fake_data()

In [3]:
df.head()

,student_id,school_id,sped_flag,frl_flag,ell_flag,asian_flag,black_flag,hispanic_flag,white_flag,starting_gpa,gpa
0,1,80,0,0,0,0,0,0,1,0.30,0.331954
1,2,82,1,0,0,0,0,0,1,0.40,0.338898
2,3,85,0,1,0,0,0,1,0,0.23,0.324261
3,4,156,0,1,0,0,0,1,0,0.23,0.252347
4,5,123,0,1,1,0,0,0,1,0.24,0.311328

In [5]:
student_characteristics = [0, 1, 1, 0, 0, 1, 0, .4]
student_characteristics_df = pd.DataFrame([student_characteristics], columns=['sped_flag', 'frl_flag', 'ell_flag', 'asian_flag', 'black_flag', 'hispanic_flag', 'white_flag', 'starting_gpa'])  # adjust columns based on your data
top5 = calculate_school_estimates(df, student_characteristics_df)

In [6]:
top5

[(68, 0.5693663611715347),
 (63, 0.5678887796485923),
 (137, 0.5637920859417045),
 (25, 0.5601429035250562),
 (177, 0.5575581178954918)]

,student_id,school_id,sped_flag,frl_flag,ell_flag,race_flag,starting_gpa,gpa
0,1,35,0,0,0,3,0.619110,NaN
1,2,82,1,0,0,3,0.419804,NaN
2,3,204,0,1,0,2,0.323472,NaN
3,4,61,0,1,0,2,0.906003,NaN
4,5,2,0,1,1,3,0.610556,NaN

In [ ]:
result.predict()

In [4]:
top_five = top_five_with_gpa(df, result, 0, 1, 0, 1, 0, 0, 0, .5)

Fixed effects: sped_flag                 -0.023992
frl_flag                   0.023577
ell_flag                   0.011482
asian_flag                -0.018529
black_flag                 0.019863
hispanic_flag             -0.033282
white_flag                -0.000803
starting_gpa               0.936734
school_id:sped_flag        0.000056
school_id:frl_flag         0.000066
school_id:ell_flag         0.000002
school_id:asian_flag       0.000118
school_id:black_flag       0.000066
school_id:hispanic_flag    0.000050
school_id:white_flag      -0.000050
school_id:starting_gpa     0.000025
dtype: float64
Fixed effects values: [-2.39915331e-02  2.35767457e-02  1.14824417e-02 -1.85291973e-02
  1.98629002e-02 -3.32816463e-02 -8.02893950e-04  9.36734231e-01
  5.61550054e-05  6.64396575e-05  2.12559500e-06  1.17694496e-04
  6.58338939e-05  4.96173030e-05 -4.99280957e-05  2.48691428e-05]
Specific row values: [[0.  1.  0.  1.  0.  0.  0.  0.5]]

ValueError: operands could not be broadcast together with shapes (1,8) (16,)

In [10]:
top_five

[(67, 0.5782971000346885),
 (95, 0.5778447533732727),
 (54, 0.5628176635198269),
 (105, 0.5601646923965556),
 (173, 0.5590015150365241)]

In [11]:
# Create a DataFrame with a single row representing the specific flag values
specific_row = pd.DataFrame({
    'sped_flag': 1,
    'frl_flag': 1,
    'ell_flag': 0,
    'C(race_flag)[T.2]': 2,
    'starting_gpa': .4
}, index=[0])

# Get the school-level coefficients from the model results
school_coefficients = result.fe_params

# Filter the coefficients for the specific pattern of student-level flags
specific_coefficients = school_coefficients[specific_row.columns]

print(specific_coefficients)

sped_flag           -0.206074
frl_flag            -0.131865
ell_flag            -0.102048
C(race_flag)[T.2]   -0.053652
starting_gpa         0.034279
dtype: float64

In [31]:
# Define the specific combination of flags
sped_flag = 0
frl_flag = 1
ell_flag = 0
race_flag = 4
starting_gpa = 0.4

# Create a DataFrame with a single row representing the specific combination of flags
specific_row = pd.DataFrame({
    'sped_flag': [sped_flag],
    'frl_flag': [frl_flag],
    'ell_flag': [ell_flag],
    'race_flag_0': [1 if race_flag == 0 else 0],
    'race_flag_1': [1 if race_flag == 1 else 0],
    'race_flag_2': [1 if race_flag == 2 else 0],
    'race_flag_3': [1 if race_flag == 3 else 0],
    'starting_gpa': [starting_gpa]
})

# Get the fixed effects coefficients
fixed_effects = result.fe_params.drop('Intercept')

# Calculate the fixed effects prediction
fixed_effects_prediction = (specific_row.values * fixed_effects.values).sum(axis=1)

# Get the random effects coefficients for each school based on the specific combination of flags
random_effects = result.random_effects

# Calculate the predicted GPA for each school
predicted_gpas = {}

for school_id, effect in random_effects.items():
    random_effects_prediction = effect[0]
    predicted_gpa = fixed_effects_prediction + random_effects_prediction + result.fe_params['Intercept']
    predicted_gpas[school_id] = predicted_gpa[0]

# Sort the predicted GPAs in descending order and get the top 5 schools
top_schools = sorted(predicted_gpas.items(), key=lambda x: x[1], reverse=True)[:5]

# Print the top 5 schools
for school_id, predicted_gpa in top_schools:
    print(f"School ID: {school_id}, Predicted GPA: {predicted_gpa}")

School ID: 19, Predicted GPA: 0.8266117559938373
School ID: 209, Predicted GPA: 0.825529036863882
School ID: 196, Predicted GPA: 0.8223713018959062
School ID: 10, Predicted GPA: 0.8222827670561251
School ID: 84, Predicted GPA: 0.8212495873964502